@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #141e46;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 90vw;
  max-width: 600px;
  height: 90vh;
  min-height: 600px;
  max-height: 1000px;
  height: fit-content;
  margin: 0 auto;
  background-image: url("../public/images/landscape.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

p {
  margin-bottom: 1em;
}

.choose-weight {
  margin-right: 0.5em;
}

form h2 {
  margin-bottom: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

input[type="text"],
input[type="number"],
button,
select,
.btn-start,
.choose-weight {
  margin-bottom: 10px;
  padding: 0.5em;
  font-family: inherit;
  font-size: 0.9em;
  margin-left: 0.5em;
  outline: #0a6847;
  color: #141e46;
  background-color: #fff5e0;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  min-width: 11em;
}
select:focus,
textarea:focus,
input:focus {
  font-size: 0.9em;
  background: #ccefdb;
}

button {
  background-color: #f3ca52;
}

.items-list {
  margin-top: 1rem;
}

.items-list ul {
  list-style: none;
  outline: none;
  display: grid;
  width: 400px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  justify-content: center;
  align-content: start;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 12rem;
  background-color: #fff5e0;
  font-size: 0.9rem;
}

li button {
  margin-left: auto;
  min-width: 20px;
  margin-bottom: 0;
}

.actions {
  margin-top: 1rem;
}

@media only screen and (max-width: 500px) {
  /* Adjustments for smaller screens */

  .App {
    max-width: 450px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0.5em;
  }

  input[type="text"],
  input[type="number"],
  button,
  select,
  .btn-start,
  .choose-weight {
    padding: 0.4em;
    font-size: 0.8em;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .items-list ul {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  li {
    min-width: 90%;
    font-size: 1rem;
  }

  li button {
    margin-left: auto;
    margin-right: 8px;
    min-width: 30px;
  }
}
