* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  background-image: url("../public/images/landscape.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-start {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  outline: none;
  border: none;
  letter-spacing: 0.05em;
  color: #0a6847;
  background-color: #f3ca52;
}
